@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
  min-height: 100%;
}

@layer base {
  html,
  body {
    @apply relative font-body text-ship-gray-900;
  }
}

@layer components {
  .tooltip {
    @apply z-40 bg-ship-gray-900 px-3 py-2 font-body text-sm text-white;
  }

  .tab {
    @apply relative flex cursor-pointer items-center justify-center gap-3 whitespace-nowrap rounded-lg bg-white px-4 py-3 
    text-center font-display text-sm capitalize text-ship-gray-500 outline-none transition-colors hover:bg-ship-gray-50;
  }

  .tab-active {
    @apply bg-primary-200 font-semibold text-primary-900 hover:bg-primary-200;
  }

  .paginate-container {
    @apply flex gap-2 text-sm leading-none;
  }

  .paginate-button {
    @apply flex gap-2 rounded-lg border border-gray-300 px-3 py-2 hover:bg-gray-100 hover:text-primary-700;
  }

  .paginate-link {
    @apply flex min-w-[30px] items-center justify-center rounded-lg border border-gray-300 
        px-2 py-2 text-center hover:bg-gray-100;
  }

  .paginate-link-active {
    @apply border-primary-300 bg-primary-200 text-primary-900 hover:bg-primary-200 hover:text-primary-900;
  }

  .paginate-break {
    @apply flex min-w-[30px] items-center justify-center rounded-lg px-2 py-2 text-center;
  }

  .paginate-link-disabled {
    @apply cursor-default text-ship-gray-300 hover:bg-white hover:text-ship-gray-300;
  }
}

.grid-lines {
  background-image: repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
  /** 
  * - 10px -> grid spacing  (px)
  * - 12 -> number of cols  (grid unit).
  * - 75px -> row height    (px)
  */
  background-size: calc((100% / 9)) 40px;
}

.clip-path {
  clip-path: inset(0 0 0 50%);
}

.ReactModal__Content {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: translateY(100%);
  opacity: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .ReactModal__Content {
    transform: scale(0.8);
    opacity: 0;
  }

  .ReactModal__Content--after-open {
    transform: scale(1);
    opacity: 1;
  }

  .ReactModal__Content--before-close {
    transform: scale(0.8);
    opacity: 0;
  }
}
